body {
  background-color: var(--back-color);
  background-image: var(--back-img);
  background-size: var(--back-size);
	background-position: auto;
  font-size: 18px;
  font-family: var(--fontFamily2);
  margin: 0;
  text-shadow: var(--textShadow);
}

.specialFlair:before {
  content: var(--dateFlair);
}

p {
  line-height: auto;
}

hr {
  border: none;
  border-bottom: var(--hrStyle);
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.right {
  float: right;
  margin-left: 1em;
}

.left {
  float: left;
  margin-right: 1em;
}

.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .small {
    max-width: 60%;
    height: auto;
  }
}

@media not screen and (min-width: 600px){ /* WHY THE FUCK IS THIS "NOT". WHY THE FUCK IS IT "NOT" RIGHT HERE. */
  [id^="kofi-widget-overlay"] {
    display: none;
  }
}

.caption {
  margin-top: 0;
  font-size: 0.9em;
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--fontFamily1);
  color: var(--head-color);
}

h1 {
  color: var(--head-color);
  border-bottom: double 3px var(--head-color);
  text-align: center;
}

h2 {
  border-bottom: dashed 1px var(--head-color);
}

h3 {
  border-bottom: dotted 1px var(--head-color);
}

a {
  color: var(--accent-color);
  font-weight: bold;
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

ul li::before {
  content: var(--bulletEmoji);
  padding-right: 8px;
}

/*#CONTAINER is the rectangle that contains everything but the background!*/
#container {
  margin: 3em auto;
  width: 90%;
	max-width: 700px;
	background-color: var(--body-color);
  color: var(--para-color);
  box-shadow: var(--boxShadow);
  border-radius: var(--round-corner2);
}

#content {
  padding: 10px 5% 20px 5%;
}


/*HEADER STYLE*/
#header {
  background-color: var(--bar-color);
  padding: 0 5%;
  border-radius: var(--topRadius);
}

#header p {
  font-size: 1.2em;
  display: inline-block;
  margin-right: 1.5em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

#header p::before {
  content: var(--dateFlair);
}

#header p::after {
  content: var(--dateFlair);
}

#header a {
  color: var(--accent-color);
  font-weight: bold;
  background-color: inherit;
}

#header a:hover {
  text-decoration: underline;
}

/*POST LIST STYLE*/
#postlistdiv ul {
  font-size: 1.2em;
  padding: 0;
  list-style-type: none;
}

#recentpostlistdiv ul {
  font-size: 1.2em;
  padding: 0;
  list-style-type: none;
}

.moreposts {
  font-size: 0.8em;
  margin-top: 0.2em;
}

/*NEXT AND PREVIOUS LINKS STYLE*/
#nextprev {
  text-align: center;
  margin-top: 1.4em;
}

/*FOOTER STYLE*/
#footer {
  font-size: 0.8em;
  padding: 0 5% 10px 5%;
}