/* In the root are variables that define color, shapes, all sorts of things.
You can tinker safely with variables, and it makes things easier to handle
when you start playing with different screen sizes through media queries.
Very convenient to have this right at the top. */

:root {
  --para-color: #ff8848;
  --head-color: #20170d;
  --back-color: lightblue;
  --accent-color: #ffc47b;
  --body-color: #4e4439;
  --left-color: #30261c;
  --bar-color: #20170d;
  --table-color: #20170d;
  --table-color2: #30261c;
  --head-img: url("/images/seasonal/spring/spring2024.png");
  --back-img: url("/images/seasonal/autumn/autumnleaves.png");
  --round-corner: 25px;
  --round-corner2: 10px;
  --shadow: 0px 0px 15px #20170d;
  --back-size: 25%;
  --border: 3px dotted var(--bar-color);
}

@font-face {
  font-family: TruthAndIdeals;
  src: url("/fonts/TruthAndIdealsNormal.woff2");
  font-display: swap;
}
/* This is the cursor. */

/* Start https://www.cursors-4u.com */
* {cursor: url(https://cur.cursors-4u.net/holidays/hol-1/hol11.cur), auto !important;}
/* End https://www.cursors-4u.com */